body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.game-container {
    position: relative;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid black;
    background-color: lightgray;
    overflow: hidden;
}

.fighter {
    width: 50px;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

#player1 {
    left: 50px;
    background-color: red;
}

#player2 {
    left: 50px;
    background-color: blue;
}

.punch {
    width: 70px;
    background-color: yellow;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

